<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>demo</title>

    <link rel="stylesheet" href="//at.alicdn.com/t/font_1273239_gis10xi6cmi.css">

    <link rel="stylesheet" href="/static/css/src/index.css">
</head>
<body>
<div class="header">
    <div class="container">
        <div class="logo-box">
        </div>

        <div class="auth-box">

            <a href="demo.html">
                <i class="icon-setting iconfont"></i>
            </a>
            <a href="demo.html">
                <i class="icon-poweroff iconfont"></i>
            </a>


        </div>
    </div>
</div>
<div class="caidantiao">
    <div class="duiqi">
        <ul class="nav">
            <li class="active"><a class="caidan" herf="/"> 我的首页</a></li>
            <li class="active"><a class="caidan" herf="/"> 个人主页</a></li>
            <li><a class="caidan" herf="/"> 应用中心</a></li>
            <li><a class="caidan" herf="/"> 干部工作信息</a></li>
        </ul>
    </div>
</div>
<div class="myinfo">
    <div class="container info">
        <div class="auth-img">
            <img src="/">
        </div>
        <div class="auth-info">
            <a class="childDiv" href="/">王崇森,你好</a>
            <h class="childDiv"></h>
            <h class="childDiv">身份：教职工</h>
            <h class="childDiv"></h>
            <h class="childDiv">部门：信息化办公室、信息中心</h>

        </div>
        <div class="search"></div>
    </div>
</div>

{#下面为列表#}
<div class="wap">
    <div class="container">
    <div class="tab container">
        <h>我的应用</h>
        <div class="line"></div>
        <h>我的应用</h>

    </div>
    <div class="tab-container">


    </div>
    </div>
</div>
</body>
</html>